<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context.xsd
						   http://www.springframework.org/schema/mvc
						   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 指定controller扫描的位置 component是组件，scan是扫描  base是基础-->
	<context:component-scan base-package="com.bdqn.ban.controller" />
	<!--开启mvc的注解（annotation）配置   annotation是注释的意思
	配置映射器与适配器 -->
    <mvc:annotation-driven />
	
	<!-- 配置静态资源文件的映射路径  resources资源   default默认的意思-->
	<mvc:resources location="/statics/" mapping="/statics/**"/>	
	<mvc:default-servlet-handler/>  
	
		
	<!-- 设置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/jsps/" />
		<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
	
	<!-- 定义文件上传解析器   上传是通过multipartResolver处理的-->
   <!--  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        设定默认编码
        <property name="defaultEncoding" value="UTF-8" />
        设定文件上传的最大值5MB，5*1024*1024
        <property name="maxUploadSize" value="5242880" />
        <property name="maxInMemorySize" value="4096" />
    </bean> -->
   
   <!-- 定义文件上传解析器 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!-- 设定默认编码 -->  
        <property name="defaultEncoding" value="UTF-8"></property>  
        <!-- 设定文件上传的最大值5MB，5*1024*1024 -->  
        <property name="maxUploadSize" value="5242880"></property>  
    </bean>  
    <!-- 静态资源图片上传 -->
    <mvc:resources location="/upload/" mapping="/upload/**"/>  
   
</beans>